.logo-pagina{
  background-color: green;
  text-align: center;
}
.image{
  width: 150px;
}
.lojas{
  background-color: #000;
}
.selecao{
  width: 230px;
}
.lojas{
  color: white;
}
body{
  background-color: #F2F2F2; 
}
.rodape-pagina{
  background-color: rgba(252, 121, 34, 0.8);                     
    text-align: center; 
    box-sizing: border-box
  }
  .image2 {
    width: 200px;
  }

  @media (max-width: 700px) {  
    .golden{
      width: 90%;
      margin: 2% 5% !important;
      }
    .selecao{
      width: 90%;
    }
    .image2{
     width: 55%;
     margin: 2% 20% !important;
    }
    .cartao{
      margin: 5% 15% !important;
    }
    .texto{
      text-align: center; 
    }
    .botao{
      text-align: center;
    }
    td:last-child, th:last-child {
    display: none !important;  
    } 
  }
  